.block-tile{
    width: 28vh;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    justify-content: space-between;
    padding: .7vh 2vh;
    display: flex;
}
.block-text{
    letter-spacing: .08vh;
    text-transform: uppercase;
    font-family: Rajdhani, sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.block-tile{
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.block-tile:hover{
    background-color: white;
    color: black;
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.block-tile:hover .block-text{
    background-color: white;
    color: black;
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
