.map-info {
    width: 28vh;
    height: 15.5vh;
    display: flex;
    flex-direction: column;
    background-color: #101010;
    transition: transform 0.3s ease;
    overflow: hidden;
    opacity: 0.8;
}

.map-image {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.img-pic {
    height: 100%;
    max-width: 100%; 
    object-fit: cover;
    transition: transform 0.3s ease;
}

.location-name-one{
    color: #fff;
    letter-spacing: .1vh;
    text-transform: uppercase;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    font-family: Rajdhani, sans-serif;
    font-size: 1.6vh;
    font-weight: 700;
    line-height: 2vh;
}
.location-name-two{
    color: #fff;
    letter-spacing: .1vh;
    text-transform: uppercase;
    margin-left: 2vh;
    margin-right: 2vh;
    font-family: Rajdhani, sans-serif;
    font-size: 1.6vh;
    font-weight: 700;
    line-height: 2vh;
}

.map-info:hover{
    background-color: white;
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.map-info:hover .location-name-one{
    color: black;
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.map-info:hover .location-name-two{
    color: black;
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.map-info:hover .img-pic {
    transform: translateY(-10%);
}

