.server{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 40px;
    height: 100vh;
}
.small-head{
    color: #fff;
    letter-spacing: .1vh;
    text-transform: uppercase;
    margin-bottom: .3vh;
    margin-right: 1.5vh;
    font-family: Rajdhani, sans-serif;
    font-size: -8.5vh;
    font-weight: 600;
    line-height: 2vh;
    text-decoration: none;
    transition: opacity .1s;
    display: flex;
    align-items: center;
    gap: 10px;
}
.small-head>img{
    width: 10px;
    height: 10px;
}
.big-head{
    color: #fff;
    text-transform: uppercase;
    font-family: Rajdhani, sans-serif;
    font-size: 4vh;
    font-weight: 600;
    line-height: 4vh;
}
.server-data{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Rajdhani,sans-serif;
    
}

.server-data>.server-head-two>img{
    width: 16px;
}
.server-head-two{
    color: rgba(255, 255, 255, .8);
    letter-spacing: .1vh;
    text-transform: uppercase;
    font-family: Rajdhani, sans-serif;
    font-size: 1.5vh;
    font-weight: 600;
    line-height: 1.8vh;
    display: flex;
    align-items: center;
    gap: 10px;
}
.server-head-three{
    width: 80vh;
    color: rgba(255, 255, 255, .8);
    letter-spacing: .08vh;
    font-family: Rajdhani, sans-serif;
    font-size: 1.5vh;
    font-weight: 600;
    line-height: 1.8vh;
}
.server-head-one{
    color: #fff;
    letter-spacing: .1vh;
    margin-bottom: 1vh;
    font-family: Rajdhani, sans-serif;
    font-size: 3.1vh;
    font-weight: 600;
    line-height: 3.8vh;
}
.button-group{
    display: flex;
    gap: 8px;
    margin: 10px 0px;
}
.btn{
    text-align: center;
    background:none;
    width: 200px;
    border: 1px solid #919191;
    padding: 10px;
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    letter-spacing: .1vh;
    text-transform: uppercase;
    font-family: Rajdhani, sans-serif;
    font-size: 1.5vh;
    font-weight: 600;
    line-height: 1.8vh;
}
.btn:hover{
    background-color: white;
    color: black;
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.server-data{
    width: 127vh;
    height: 82.4vh;
    border-bottom: 1px rgba(255, 255, 255, .1);
    margin-top: 5vh;
    position: relative;
    overflow: auto;
    max-height: calc(100vh - 20px);
    overflow-y: auto;
    flex-grow: 1; 
    overflow-y: auto;
    margin-bottom: 8vh;
}


















