.server-container-box{
    margin-bottom: 3vh;
    height: 80vh;
}
.server-stats{
    display: flex;
    align-items: center;
    margin-bottom: 2.5vh;
}
.server-stats-box{
    margin-right: 12vh;
}
.stats-heading{
    color: #fff;
    letter-spacing: .1vh;
    text-transform: uppercase;
    font-family: Rajdhani, sans-serif;
    font-size: 1.5vh;
    font-weight: 600;
    line-height: 1.8vh;
}
.stats-data{
    color: #fff;
    letter-spacing: .1vh;
    text-transform: none;
    font-family: Rajdhani, sans-serif;
    font-size: 2.5vh;
    font-weight: 600;
    line-height: 3vh;
}
.server-chart{
    display: flex;
    margin-bottom: 3vh;
}
.server-block{
    margin-right: 4vh;
    display: flex;
    flex-direction: column;
}
.block-heading{
    color: #fff;
    letter-spacing: .1vh;
    text-transform: uppercase;
    margin-bottom: 1vh;
    font-family: Rajdhani, sans-serif;
    font-size: 1.5vh;
    font-weight: 600;
    line-height: 1.8vh;
}
.map-heading{
    color: #fff;
    letter-spacing: .1vh;
    text-transform: uppercase;
    margin-bottom: 1.5vh;
    font-family: Rajdhani, sans-serif;
    font-size: 1.5vh;
    font-weight: 600;
    line-height: 1.8vh;
}
.maps{
    grid-column-gap: 2vh;
    grid-row-gap: 2vh;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}
.map-info{
    width: 28vh;
    height: 15.5vh;
    background-color: rgba(16, 16, 16, .5);
}




.server-container-box {
    max-height: 100vh;
    box-sizing: border-box;
  }
  

  .server-stats, .server-chart, .map-rotation {
    margin-bottom: 20px;
  }
  
  .server-stats-box, .server-block, .map-rotation {
    margin-bottom: 10px;
  }
  

  
.map-block{
    grid-column-gap: 2vh;
    grid-row-gap: 2vh;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}