.app {
  position: relative; 
  height: 100vh; 
  width: 100%; 
  overflow: hidden; 
  display: flex;
}

.app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('/src/assets/images/background.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  opacity: 0.8; 
  filter: brightness(0.3) contrast(1.4) saturate(2.0);
  z-index: -1;
}
